<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="_parts/head :: meta"/>
    <title>本の検索</title>
    <th:block th:replace="_parts/head :: css"/>
</head>
<body class="bg-light">
<main class="container">
    <article class="py-5 px-5">
        <form method="get" action="#" th:action="@{/reservation/entries/search}" class="px-10">
            <label>キーワード検索</label>
            <div class="input-group row">
                <input type="text" th:field="${keyword.value}" class="form-control col-5 px-2"
                       placeholder="（空白で全件を検索します)" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-primary col-2" type="button" id="button-addon2">検索</button>
            </div>
        </form>
    </article>
    <article class="py-5">
        <block th:if="${books.isPresent()}">
            <h4>検索結果[冊]:
                <span th:text="${books.numberOfMaterial.show()}"></span>
            </h4>
            <table class="container table text-left pull-left align-middle">
                <thead>
                <tr class="row container-fluid flex-nowrap text-center">
                    <th class="col-1">Id</th>
                    <th class="col-5">Title</th>
                    <th class="col-3">Author</th>
                    <th class="col-1">Stock</th>
                    <th class="col-3"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book : ${books.asList()}" class="row container-fluid flex-nowrap">
                    <td th:text="${book.entry.id.value()}" class="col-1">Title</td>
                    <td th:text="${book.entry.title.value()}" class="col-5">Title</td>
                    <td th:text="${book.entry.author.value()}" class="col-3">Author</td>
                    <td th:text="${book.showLoanability()}" class="col-1 text-center">Stock</td>
                    <td class="col-2 py-1"><a th:href="@{/reservation/register(book=${book.entry})}"
                                              class="btn btn-outline-success btn-sm text-lg-end">Reserve</a></td>
                </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation example" class="py-5 container">
                <ul class="pagination list-inline">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </block>
    </article>
</main>
</body>
</html>