<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.infrastructure.member.MemberMapper">
    <select id="search" resultType="com.example.demo.domain.model.member.Member">
        SELECT
            kk.会員番号 AS "memberNumber.value"
          , kk.氏名 AS "name.value"
          , kk.会員種別 AS "memberType"
        FROM
            会員.会員 kk
        WHERE
            kk.会員番号 = #{value}
    </select>

    <select id="exists" resultType="boolean">
        SELECT
            EXISTS(
                    SELECT kk.会員番号 FROM 会員.会員 kk WHERE 会員番号 = #{memberNumber.value}
                )
    </select>
</mapper>