<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.infrastructure.reservation.BookMapper">
    <select id="search" resultType="com.example.demo.domain.model.book.Book">
        SELECT
            書籍.本番号 as id
          , 書籍.タイトル as title
          , 書籍.著者 as author
        FROM
            蔵書.書籍
        WHERE
            書籍.タイトル || 書籍.著者 LIKE '%' || #{keyword.value} || '%'
        ORDER BY
            書籍.本番号
    </select>
</mapper>