<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.infrastructure.reservation.BookMapper">
    <select id="search" resultType="com.example.demo.domain.model.book.Book">
        SELECT
            st.資料番号 AS "entry.id.value"
          , st.タイトル AS "entry.title.value"
          , st.著者 AS "entry.author.value"
          , COUNT(st.資料番号) AS "loanableItems.stock"
        FROM
            資料.図書 st
                INNER JOIN 蔵書.蔵書 zz
                    ON (st.資料番号 = zz.資料番号)
                INNER JOIN 蔵書.貸出可能 zk
                    ON (zz.蔵書番号 = zk.蔵書番号)
        WHERE
            st.タイトル || st.著者 LIKE '%' || #{keyword.value} || '%'
        GROUP BY
            st.資料番号
        ORDER BY
            st.資料番号
        LIMIT #{limit}
    </select>
</mapper>