<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <th:block th:replace="_parts/head :: meta"/>
        <title>貸出フォーム</title>
        <th:block th:replace="_parts/head :: css"/>
    </head>
</head>
<body>
<main>
    <article>
        <h3>本を貸し出す</h3>
        <form action="#" method="post" th:action="@{/loan/register}" th:object="${loanRequest}">
            <label>会員番号</label>
            <input th:field="${loanRequest.memberNumber.value}" type="text">
            <label>所蔵品番号</label>
            <input th:field="*{itemNumber.value}" type="text">
            <label>貸出日</label>
            <input th:field="*{loanDate.value}" type="text">
            <button>登録</button>
        </form>
    </article>
</main>

</body>
</html>